{% extends 'base.html' %}
{% block title %} about{% endblock title %}
{% block body %}  



<div class="container-fluid" style="background-color: antiquewhite; height: 680px; margin-top: 20px;;">
  <div class="jumbotron">
    <h1 style="text-align: center;" class="my-4">About Us</h1>      
    <p style="color: black; size: 20px; text-align: center; " >Help is often an exchange relationship, where social values dictate that we should help others, in particular friends and, sometimes, complete strangers. The principle of the exchange is give-to-get, where by giving help we build specific obligation or more general social capital.</p>
  </div>
  <p style="text-align: center;">Need
There are times in our lives when we are in need and are unable to to help ourselves. In such desperate times we need help from others.

Times when we need help include:

When we are faced with a problem we cannot solve.
When we  have tasks that cannot be done by one person.
When we have hurt ourselves.
When we are being attacked.
When we need help, we often hope that others will offer help immediately and unconditionally, rather than our having to ask for help or even negotiate terms before the assistance is given.

Example
An old person falls over in the street and is unable to get up. A passer-by helps them up and checks they are ok.

A person cannot move a large log by themselves. They ask their partner for help with this.</p>      
  <p class="text-center">It seems like leaders are always lamenting the lack of cooperation and collaboration in their organizations. But more often than not, the culprit isn’t their employees’ unwillingness to give others a hand — it’s the fact that most people simply don’t, or won’t, ask for help.

Why? First, asking for help is often perceived as a sign of weakness or ignorance, implying that someone can’t get their work done on their own. A second common barrier is nervousness about incurring social debts or obligations — ”What do I owe this person now?”

Third, and for American workers in particular, personal values can get in the way. Self-reliance is one of the 10 core values that I recently documented in four national surveys, and while it’s an admirable trait, it’s also self-limiting. In today’s organizations, you can’t be successful if you don’t ask for what you need.

So how can you make asking for help easier? Below are five important lessons for how to ask for assistance at work, and how organizations can create environments where asking for help is encouraged. These lessons are based on my recent research with Innovation Places Principal Innovator Nat Bulkley, along with years of experience using the Reciprocity Ring — a structured process of asking for help — in companies and executive education.

1. Earn responses to your requests by generously helping others in the first place. By building a positive reputation as someone who helps others; others will then want to help you — even those you haven’t directly helped. But keep in mind that the effects of reputation are short lived, as Nat and I and learned in our research: An old reputation for helpfulness gets you nothing. You have to continually renew your reputation by helping others on a regular basis.

The desire to repay help appears to be hard-wired in the human species, as neuroscientists have shown in experiments, and the norm of reciprocity is so powerful that you can generally expect help if you’ve helped others. This also yields a psychological benefit for those wary of reaching out —it’s much easier to reconcile asking for help when you yourself have been helpful.

2. Know what you want to ask. This sounds elementary, but I’ve observed many people struggling with the task of coming up with a request. A common refrain is this: “I’ve always wanted to be in a room with knowledgeable, well-connected people and be able to ask for anything. But I can’t think of a thing!” Here’s something you can do to prepare for this situation: Focus on a current project and write down your goals for it. Take the most important goal and list the action steps and resources needed to achieve it — materials, information, data, or advice. You’ll then have a series of needs that you can frame as questions, using the SMART request methodology outlined below.

Longer term, consider creating a vision of greatness — a written detailed description of your preferred future, which was first developed by the late Ron Lippitt at the University of Michigan Institute for Social Research and brought to a high art by Zingermans, a renowned community of food-related businesses in Ann Arbor, MI (you can find step-by-step guides using either of the previous links). Your vision should be both inspiring and strategically sound, with goals embedded within. Select one of the most important ones and ask, “What do I need to achieve this goal?” Go though the same process described above, writing down your action steps and resources required. Then, ask for what you need.
</div>










 <dvi class="container">
     <h3 class="text-center" style="color: white;"> Resent post</h1><br><br>
      <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0" style="color: aliceblue;">Featured post</h3>
          <div class="mb-1 text-muted" style="color: aliceblue;">Nov 12</div>
          <p class="card-text mb-auto" style="color: aliceblue;">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Design</strong>
          <h3 class="mb-0" style="color: aliceblue;">Post title</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto" style="color: aliceblue;">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
       
      </div>
    </div>
  </div>

 </dvi>

{% endblock body %}
  
