{% extends 'base.html' %}
{% block title %} about{% endblock title %}
{% block body %} 
<div class="container-fluid">
    
<img src="static/banar2.jpg" width="1500px;" height="400px;">
</div>
<br><br> 

<div class="row">
  <div class="col-sm-6">
    <div class="card" style="background-color:pink;">
      <div class="card-body" >
        <h5 class="card-title">FOOD SERVICE</h5>
        <p class="card-text">Good Food, Good Life</p>
        <a href="serviseform" class="btn btn-primary">Take Service</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card"style="background-color:dark;">
      <div class="card-body">
        <h5 class="card-title">SHALTER SERVICE</h5>
        <p class="card-text">If You've Got the Time, We've Got the shalter .</p>
        <a href="serviseform" class="btn btn-primary">Take Service</a>
      </div>
    </div>
  </div>
</div>


<br><br>

<div class="row">
  <div class="col-sm-6">
    <div class="card"style="background-color:green;">
      <div class="card-body">
        <h5 class="card-title">CLOTH SERVICE</h5>
        <p class="card-text">A Smooth-Running cloth  is a Relaxing Experience.</p>
        <a href="serviseform" class="btn btn-primary">Take Service</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" style="background-color:lightgreen;">
      <div class="card-body">
        <h5 class="card-title">MEDICAL SERVICES</h5>
        <p class="card-text">I Liked The medical  So Much, I Bought The Company!</p>
        <a href="serviseform" class="btn btn-primary">Take Service</a>
      </div>
    </div>
  </div>
</div>

<br><br>

<div class="row">
  <div class="col-sm-6">
    <div class="card"style="background-color:yellow;">
      <div class="card-body">
        <h5 class="card-title">STUDY SERVICES</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="serviseform" class="btn btn-primary">Take Service</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">BUSSINESS SERVICES</h5>
        <p class="card-text">Why Have Cotton When You Can Have bussiness ?</p>
        <a href="serviseform" class="btn btn-primary">Take Service</a>
      </div>
    </div>
  </div>
</div>

{% endblock body %}