{% extends 'base.html' %}
{% block title %} services{% endblock title %}
{% block body %}  

<div class="container-fluid">
    
<img src="static/banar2.jpg" width="1500px;" height="400px;">
</div>
<div class="container-fluid my-3">
<div class="row">
  <div class="col-sm-6">
    <div class="card" style="background-color: azure;">
      <div class="card-body">
          
        <h5 class="card-title" ><i class="fa fa-"style="font-size:30px;"></i>  Medical Services</h5>
        <p class="card-text">We fight for the betterment of our patient's health.</p>
        <a href="serviseform" class="btn btn-primary" >Book Now </a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" style="background-color: beige;">
      <div class="card-body">
        <h5 class="card-title"><i class="fa fa-"style="font-size:30px;"></i>  DELIVERY</h5>
        <p class="card-text">we know the time importance.</p>
        <a href="serviseform" class="btn btn-primary">Book Now</a>
      </div>
    </div>
  </div>
</div>
</div>


<div class="container-fluid my-3">
<div class="row">
  <div class="col-sm-6">
    <div class="card" style="background-color:cadetblue;">
      <div class="card-body">
          
        <h5 class="card-title" ><i class="fa fa-tap"style="font-size:30px;"></i>  PLUMBER</h5>
        <p class="card-text">Crack-free plumbing that won’t break the bank.</p>
        <a href="serviseform" class="btn btn-primary">Book Now </a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" style="background-color:gainsboro;">
      <div class="card-body">
        <h5 class="card-title"><i class="fa fa-"style="font-size:30px;"></i> ELETRATIAN</h5>
        <p class="card-text">We are sparkling good at our work.</p>
        <a href="serviseform" class="btn btn-primary">Book Now</a>
      </div>
    </div>
  </div>
</div>
</div>





<div class="container-fluid my-3">
<div class="row">
  <div class="col-sm-6">
    <div class="card" style="background-color:gray;">
      <div class="card-body">
          
        <h5 class="card-title" ><i class="fa fa-tap"style="font-size:30px;"></i>  DOCTOR</h5>
        <p class="card-text">For a healthy life keep your friends, family, and doctor close.</p>
        <a href="serviseform" class="btn btn-primary">Book Now </a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" style="background-color:honeydew;">
      <div class="card-body">
        <h5 class="card-title"><i class="fa fa-"style="font-size:30px;"></i> Transportation</h5>
        <p class="card-text">Carrying your load.Efficient. Safe. Reliable.</p>
        <a href="serviseform" class="btn btn-primary">Book Now</a>
      </div>
    </div>
  </div>
</div>
</div>



<div class="container-fluid my-3">
<div class="row">
  <div class="col-sm-6">
    <div class="card" style="background-color:lavender  ;">
      <div class="card-body">
          
        <h5 class="card-title" ><i class="fa fa-tap"style="font-size:30px;"></i> Mechanic </h5>
        <p class="card-text">If you want to run smoothly, try our service.</p>
        <a href="serviseform" class="btn btn-primary">Book Now </a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" style="background-color:lightblue">
      <div class="card-body">
        <h5 class="card-title"><i class="fa fa-"style="font-size:30px;"></i> Fruit Services</h5>
        <p class="card-text">Carrying your load.Efficient. Safe. Reliable.</p>
        <a href="serviseform" class="btn btn-primary">Book Now</a>
      </div>
    </div>
  </div>
</div>
</div>




<div class="container-fluid my-3">
<div class="row">
  <div class="col-sm-6">
    <div class="card" style="background-color:lightpink;">
      <div class="card-body">
          
        <h5 class="card-title" ><i class="fa fa-tap"style="font-size:30px;"></i>Mobile Services </h5>
        <p class="card-text">The people you can always trust.</p>
        <a href="serviseform" class="btn btn-primary">Book Now </a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" style="background-color:lightseagreen">
      <div class="card-body">
        <h5 class="card-title"><i class="fa fa-"style="font-size:30px;"></i> Vegitables Services</h5>
        <p class="card-text">Carrying your load.Efficient. Safe. Reliable.</p>
        <a href="serviseform" class="btn btn-primary">Book Now</a>
      </div>
    </div>
  </div>
</div>
</div>




<div class="container-fluid my-3">
<div class="row">
  <div class="col-sm-6">
    <div class="card" style="background-color:lightyellow  ;">
      <div class="card-body">
          
        <h5 class="card-title" ><i class="fa fa-tap"style="font-size:30px;"></i>Water services</h5>
        <p class="card-text">The people you can always trust.</p>
        <a href="serviseform" class="btn btn-primary">Book Now </a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" style="background-color:mediumpurple">
      <div class="card-body">
        <h5 class="card-title"><i class="fa fa-"style="font-size:30px;"></i> Raw Materials Services</h5>
        <p class="card-text">Carrying your load.Efficient. Safe. Reliable.</p>
        <a href="serviseform" class="btn btn-primary">Book Now</a>
      </div>
    </div>
  </div>
</div>
</div>



<div class="container-fluid my-3">
<div class="row">
  <div class="col-sm-6">
    <div class="card" style="background-color:mediumturquoise;">
      <div class="card-body">
          
        <h5 class="card-title" ><i class="fa fa-tap"style="font-size:30px;"></i>Propision Store services</h5>
        <p class="card-text">The people you can always trust.</p>
        <a href="serviseform" class="btn btn-primary">Book Now </a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" style="background-color::mistyrose">
      <div class="card-body">
        <h5 class="card-title"><i class="fa fa-"style="font-size:30px;"></i> Hardware Services</h5>
        <p class="card-text">Carrying your load.Efficient. Safe. Reliable.</p>
        <a href="serviseform?service=hardware_services" class="btn btn-primary">Book Now</a>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock body %}
  

